# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependências e caches
node_modules/
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# IDE/Editor
.idea/
.vscode/
*.code-workspace

# Builds nativos
/ios
/android
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.kotlin/

# Metro / React Native
.metro-health-check*

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# SO
.DS_Store
Thumbs.db
*.pem

# Variáveis locais
.env
.env*.local

# TypeScript
*.tsbuildinfo
